.project {
  background-color: #f9f9f9;
  padding: 15rem 0;
  .project_content {
    display: flex;
    flex-direction: column;
    p {
      color: #147efb;
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    h3 {
      color: #2d2e32;
      font-size: 2.5rem;
      margin-bottom: 6rem;
    }
    .projects_grid {
      grid-gap: 5rem;
      display: grid;
      gap: 5rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      height: auto;
      width: 100%;
      .project_example {
        display: flex;
        gap: 8rem;
        height: 40rem;
        padding: 2rem;
        background-color: #fff;
        border-radius: 1.7rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        .project_img {
          background-color: hsla(0, 0%, 46%, 0.2);
          border-radius: 1.7rem;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          height: auto;
          overflow: hidden;
          width: 56rem;
          a img {
            transform: translateY(0%);
            transition: transform 10s ease-in-out 0s;
            height: auto;
            width: 100%;
          }
          :hover {
            transform: translateY(-83%);
          }
        }

        .pro_text {
          display: flex;
          flex-direction: column;
          height: auto;
          justify-content: center;
          text-align: center;
          width: 31rem;
          h3 {
            align-items: center;
            color: #2d2e32;
            display: flex;
            font-size: 1.7rem;
            gap: 0.2rem;
            justify-content: center;
            margin-bottom: 2rem;
            position: relative;
            text-transform: uppercase;
          }
          p {
            color: #767676;
            font-size: 1.7rem;
            font-weight: 500;
            text-align: center;
            text-transform: none;
          }
          .stack {
            display: flex;
            gap: 1rem;
            justify-content: center;
            margin-top: 1rem;
            p {
              background-color: #fff;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              color: #000 !important;
              font-family: Mulish, sans-serif !important;
              font-weight: 600 !important;
              padding: 1rem 1.3rem;
            }
          }
          .links {
            gap: 1rem;
            justify-content: space-evenly;
            margin-top: 3rem;
            align-items: center;
            display: flex;
            cursor: pointer;
            :hover {
              color: #147efb;
              transition: all 0.3s;
            }
            a {
              color: #2d2e32;
              font-size: 1.7rem;
              font-weight: 500;
              gap: 5px;
              text-decoration: none;
              align-items: center;
              display: flex;
            }
          }
        }
      }
      :last-child {
        flex-direction: row-reverse;
        .project_img {
          a img {
            transform: none;
            transition: none;
          }
          :hover {
            transform: none;
          }
        }
      }
    }
  }
  .project_skill {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    .project_skill_items {
      display: grid;
      grid-template-columns: repeat(2, 56rem);
      grid-template-rows: repeat(2, 39rem);
      grid-column-gap: 73px;
      grid-row-gap: 151px;

      .items_img {
        background-color: hsla(0, 0%, 46%, 0.2);
        border-radius: 1.7rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        img {
          width: 56rem;
          height: 100%;
        }
        h3 {
          align-items: center;
          color: #2d2e32;
          display: flex;
          font-size: 1.7rem;
          gap: 0.2rem;
          justify-content: center;
          margin-bottom: 2rem;
          position: relative;
          text-transform: uppercase;
        }
        .img_stack {
          display: flex;
          height: auto;
          justify-content: center;
          text-align: center;
          gap: 1rem;

          p {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: #000 !important;
            font-family: Mulish, sans-serif !important;
            font-weight: 600 !important;
            padding: 1rem 1.3rem;
            font-size: 1.7rem;
          }
        }
        .img_links {
          gap: 1rem;
          justify-content: space-evenly;
          margin-top: 1rem;
          align-items: center;
          display: flex;
          cursor: pointer;
          a {
            color: #2d2e32;
            font-size: 1.7rem;
            font-weight: 500;
            gap: 5px;
            text-decoration: none;
            align-items: center;
            display: flex;
          }
          :hover {
            color: #147efb;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .project {
    .project_content {
      .projects_grid {
        .project_example {
          gap: 2rem;
        }
      }
    }

    .project_skill {
      .project_skill_items {
        grid-template-columns: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .project {
    .project_content {
      .projects_grid {
        display: block;
        .project_example {
          margin-bottom: 25px;
          height: auto;
          display: block;
          .project_img {
            width: 100%;
            height: 35rem;
          }
          .pro_text {
            margin-top: 5rem;
            width: auto;
          }
        }
      }
    }
  }
}
