.header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  display: flex;
  font-size: 1.7rem;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  .title {
    display: block;
    font-weight: bold;
  }
  .list {
    display: flex;
    gap: 2rem;
    list-style: none;
    .item {
      a:hover {
        color: rgb(32, 148, 194);
      }
      svg {
        display: none;
      }
    }
  }
}

nav ul a {
  color: #2d2e32;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.23s;
}
